#pagebuilder_menu{
    position:fixed;
    top: 150px;
    left: 60%;
}
.maintab{
    padding-top: 10px;
}
.text{
    line-height: 40px;
    font-size: 14px;
    font-weight: bold;
}
a .link{
    line-height: 40px;
    font-size: 14px;
    font-weight: bold;
    color:green;
}

.title{
    color:green;
    border-bottom:2px solid green;
    margin-bottom:20px;
    width:40%;
}



@media (min-width: 768px) {

}
@media (min-width: 992px) {

}
@media (max-width: 992px) {
    #pagebuilder_menu{
        position: initial;
        top:10%;
    }
}