#pagebuilder_menu{
    position:fixed;
    top: 150px;
    left: 60%;
}
.maintab{
    padding-top: 10px;
}
.text{
    line-height: 40px;
    font-size: 14px;
    font-weight: bold;
}
a .link{
    line-height: 40px;
    font-size: 14px;
    font-weight: bold;
    color:green;
}

.delete {
    color: #be241a;
    font-size: 23px;
}

.icons span{
    font-size: 23px;
    margin-right: 10px;
    float: right;
}



.title{
    color:green;
    border-bottom:2px solid green;
    margin-bottom:20px;
    width:40%;
}



@media (min-width: 768px) {
    /*.card_item{*/
        /*min-height: 100px;*/
    /*}*/
}
@media (min-width: 992px) {
    .card_item{
        min-height: 350px;
    }
}
@media (max-width: 992px) {
    #pagebuilder_menu{
        position: initial;
        top:10%;
    }

}