#pagebuilder_menu{
    position:fixed;
    top: 150px;
    left: 60%;
}



@media (min-width: 768px) {

}
@media (min-width: 992px) {

}
@media (max-width: 992px) {
    #pagebuilder_menu{
        position: initial;
        top:10%;
    }
}